html {
  font-family:arial;
  font-size: 18px;
}

td {
  border: 1px solid #726E6D;
  padding: 15px;
}

thead{
  font-weight:bold;
  text-align:center;
  background: #625D5D;
  color:white;
}

table {
   position: relative;
       top: -20px;
  border-collapse: collapse;

}
.inner1{
width: fit-content;

margin: 0 auto;
}

.inner2{
width: fit-content;

margin: 0 auto;
}
.looking-for-a-lollip {
    color: #31373D;
    font-family: AktivGrotesk;
    font-size: 50px;
    font-weight: 700;
    line-height: 58px;
    
    text-align: left;
}
.footer {
  text-align:right;
  font-weight:bold;
}

tbody >tr:nth-child(odd) {
  background: #D1D0CE;
}

.contain{
width: fit-content;

margin: 0 auto;
}
.body-1 {
       position: relative;
    top: -45px;
    color: #31373D;
    font-family: AktivGrotesk;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
        text-align: center;
}
.body-2 {
   position: relative;
    top: 75px;

    color: #31373D;
    font-family: AktivGrotesk;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
}
.search-container{

    position: relative;
    top: 70px;
}
.email-container{

    position: relative;
    top: 130px;
}
